* {
  margin : 10px auto;
  text-align : center;
}

form {
  margin : 0;
  padding : 0;
}

button {
  width: 70px;
  margin: auto;
  border-radius: 8px;
  background-color: #5a044c;
  border: 1px solid #3c0433;
}

input {
  background-color: #723a80;
  border: none;
  border-radius:2px;
}
