<nav class="games">
  <a routerLink='/beyond-the-void' class="game-link" (click)="gameChoice('beyond-the-void')">Beyond The Void</a>
  <a routerLink='/nexium-rush' class="game-link" (click)="gameChoice('nexium-rush')">Nexium Rush</a>
</nav>

<div class="container">
  <nav class="game-menu">
    <a class="choice" routerLink='{{game}}/game'>Game</a>
    <a class="choice" routerLink='{{game}}/about'>About</a>
  </nav>
  <div class="router" [@routerAnimation]="getRouteAnimation(route)">
    <router-outlet #route="outlet">
    </router-outlet>
  </div>
</div>
